# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.xml
*.iml
*.txt
*.check_cache
*.log
*.marks
*.make
*.includecache
*.internal
*.cbp
*.bin
*.name

Lab1_1.1/cmake-build-debug/
Lab1_1.1/.idea/

Lab02/Ex2.1/.idea/
Lab02/Ex2.1/cmake-build-debug/

Lab02/Ex2.2/.idea/
Lab02/Ex2.2/cmake-build-debug/

Lab02/Ex2.3/.idea/
Lab02/Ex2.3/cmake-build-debug/

Lab02/Ex2.4/.idea/
Lab02/Ex2.4/cmake-build-debug/

Lab02/Ex2.5/.idea/
Lab02/Ex2.5/cmake-build-debug/

Lab02/Ex2.7/.idea/
Lab02/Ex2.7/cmake-build-debug/

Lab02/Ex2.8/.idea/
Lab02/Ex2.8/cmake-build-debug/

Lab02/Ex2.9/.idea/
Lab02/Ex2.9/cmake-build-debug/

Lab02/Ex2.10/.idea/
Lab02/Ex2.10/cmake-build-debug/

Lab02/Ex2.11/.idea/
Lab02/Ex2.11/cmake-build-debug/

Lab02/Ex2.12/.idea/
Lab02/Ex2.12/cmake-build-debug/

Lab03/T.3.1/.idea/
Lab03/T.3.1/cmake-build-debug/

Lab03/T.3.2/.idea/
Lab03/T.3.2/cmake-build-debug/

Lab03/T.3.3/.idea/
Lab03/T.3.3/cmake-build-debug/

Lab03/T.3.4/.idea/
Lab03/T.3.4/cmake-build-debug/

Lab03/T.3.5/.idea/
Lab03/T.3.5/cmake-build-debug/

Lab03/T.3.7/.idea/
Lab03/T.3.7/cmake-build-debug/

Lab03/T.3.8/.idea/
Lab03/T.3.8/cmake-build-debug/

Lab03/T.3.9/.idea/
Lab03/T.3.9/cmake-build-debug/

Lab04/T.4.1/.idea/
Lab04/T.4.1/cmake-build-debug/

Lab04/T.4.2/.idea/
Lab04/T.4.2/cmake-build-debug/

Lab04/T.4.3/.idea/
Lab04/T.4.3/cmake-build-debug/

Lab04/T.4.5/.idea/
Lab04/T.4.5/cmake-build-debug/

Lab04/T.4.6/.idea/
Lab04/T.4.6/cmake-build-debug/

Lab04/T.4.7/.idea/
Lab04/T.4.7/cmake-build-debug/

Lab04/T.4.8/.idea/
Lab04/T.4.8/cmake-build-debug/

Lab04/T.4.9/.idea/
Lab04/T.4.9/cmake-build-debug/

Lab04/T.4.10/.idea/
Lab04/T.4.10/cmake-build-debug/

Lab04/T.4.11/.idea/
Lab04/T.4.11/cmake-build-debug/

Lab04/T.4.12/.idea/
Lab04/T.4.12/cmake-build-debug/

Lab05/T.5.1/.idea/
Lab05/T.5.1/cmake-build-debug/

Lab05/T.5.2/.idea/
Lab05/T.5.2/cmake-build-debug/

Lab05/T.5.3/.idea/
Lab05/T.5.3/cmake-build-debug/

Lab05/T.5.4/.idea/
Lab05/T.5.4/cmake-build-debug/

Lab05/T.5.5/.idea/
Lab05/T.5.5/cmake-build-debug/

Lab05/T.5.6/.idea/
Lab05/T.5.6/cmake-build-debug/

Lab05/T.5.7/.idea/
Lab05/T.5.7/cmake-build-debug/

Lab05/T.5.8/.idea/
Lab05/T.5.8/cmake-build-debug/