# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cmake
*.xml
*.iml
*.txt
*.check_cache
*.log
*.marks
*.make
*.includecache
*.internal
*.cbp
*.bin
*.name

Lab1_1.1/cmake-build-debug/
Lab1_1.1/.idea/

Lab02/Ex2.1/.idea/
Lab02/Ex2.1/cmake-build-debug/

Lab02/Ex2.2/.idea/
Lab02/Ex2.2/cmake-build-debug/

Lab02/Ex2.3/.idea/
Lab02/Ex2.3/cmake-build-debug/

Lab02/Ex2.4/.idea/
Lab02/Ex2.4/cmake-build-debug/

Lab02/Ex2.5/.idea/
Lab02/Ex2.5/cmake-build-debug/